html, body, #__next {
  background-color: #FFDF8C;
  height: auto;
}

a {
 text-decoration: none;
}

/*------header-----------------------*/
.headerWrapper {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 4px 4px 0 #0000;
  border-bottom: 1px solid #F7F7F7;
}

header {
  height: 137px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

/* -----main container-wrapper------ */
.wrapper {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 4px 0 #0000;
  padding: 0 40px 100px 40px;
}