.active {
   background-color: #fff;
   box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.4);
}

.topSet {
   height: 32px; 
   padding: 7px;
   border-radius: 10px;
   cursor: pointer;
}

.setConteiner {
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-end;
   height: 50%;
}

.mainContainer {
   flex-direction: column; 
   justify-content: space-evenly;
   width: 100%;
   height: 85px;
   padding: 7px; 
   border-radius: 10px;
}