.active {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.4);
}

.topSet {
  height: 32px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.setConteiner {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  div {
    flex: 0 1 100%;
    text-align: center;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.mainContainer {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding: 0 7px;
  border-radius: 10px;
}

.img {
  position: relative;
  left: 16px;
}
